.link {
	&::after {
		content: '';
		position: absolute;
		left: -5px;
		top: 50%;
		transform: translateY(-50%);
		height: 70%;
		border-radius: 5px;
		transition: all 0.3s;
	}

	@apply after:w-2 md:after:w-[10px];

	&.active {
		&::after {
			@apply bg-[#ff3347] dark:bg-gray-700;
		}
	}

	&:hover::after {
		background: #ff3347;
	}

	&.logout {
		@apply dark:text-slate-400 text-[#222222];

		&:hover {
			background: #2222221a;
		}

		&:hover::after {
			@apply dark:bg-stone-200 bg-stone-800;
		}
	}
}

@media (max-width: 500px) {
	.links {
		flex-wrap: wrap; // Wrap links into two rows
		max-width: 180px;
		gap: 0px 4px;
	}
	.linked {
		flex: 1 0 24%; // Each link takes up 50% width to form two rows
		.link {
			padding: 3px;
			align-items: center;
			justify-content: center;
		}
	}
	.logout {
		position: absolute;
		padding: 8px;
		right: 30px;
		top: 25%;
	}
}
.burger {
	position: relative;
	width: 38px;
	height: 28px;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.3s;
	&::before,
	&::after {
		content: '';
		width: 70%;
		position: absolute;
		background: #fd5029;
		border-radius: 5px;
		height: 3px;
		transition: all 0.3s;
	}

	&::before {
		top: 1px;
		left: 0;
	}

	&::after {
		right: 0;
		bottom: 0px;
	}
	& span {
		width: 100%;
		position: absolute;
		background: #fd5029;
		border-radius: 5px;
		height: 3px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s;
	}
	&.active {
		&::before {
			width: 100%;
			transform: rotate(45deg);
			top: 50%;
		}

		&::after {
			width: 100%;
			transform: rotate(-45deg);
			top: 51%;
			bottom: auto;
		}
		& span {
			opacity: 0;
		}
	}
}

.isArchiving {
	@apply bg-red-600/30 border-red-600 pl-1 md:pl-2 text-white #{!important};
}

.completed {
	@apply border-green-600 bg-green-600/30 pl-1 md:pl-2 text-white #{!important};
}

.addTask {
	&:hover {
		@apply hover:text-slate-100;
	}
}
